<div class="container-fluid">
    <div class="row">
        <div class=" col-xl-3 col-lg-4 col-md-6 col-sm-12 mt-3">
            <mdb-card cascade="true" narrower="true">
                <div class="view view-cascade green darken-1 py-3 text-white view-size">
                    <div class="text-center">
                        <mdb-icon fas icon="dollar-sign" size="2x"></mdb-icon>
                    </div>
                </div>
                <mdb-card-body cascade="true" class="text-left">
                    <!--Card content-->
                    <div class="info-text text-right">
                        <b>Sales</b>
                        <p>$50000</p>
                    </div>
                    <div class="progress md-progress">
                        <div class="progress-bar green darken-1" role="progressbar" style="width: 50%"
                            aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </mdb-card-body>
                <!--/.Card content-->
            </mdb-card>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 mt-3">
            <mdb-card cascade="true" narrower="true">
                <div class="view view-cascade amber darken-1 py-3 text-white view-size">
                    <div class="text-center">
                        <mdb-icon fas icon="user-friends" size="2x"></mdb-icon>
                    </div>
                </div>
                <mdb-card-body cascade="true" class="text-left">
                    <!--Card content-->
                    <div class="info-text text-right">
                        <b>Subscriptions</b>
                        <p>1000</p>
                    </div>
                    <div class="progress md-progress">
                        <div class="progress-bar amber darken-1" role="progressbar" style="width: 30%"
                            aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </mdb-card-body>
                <!--/.Card content-->
            </mdb-card>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 mt-3">
            <mdb-card cascade="true" narrower="true">
                <div class="view view-cascade cyan darken-3 py-3 text-white view-size">
                    <div class="text-center">
                        <mdb-icon fas icon="chart-line" size="2x"></mdb-icon>
                    </div>
                </div>
                <mdb-card-body cascade="true" class="text-left">
                    <!--Card content-->
                    <div class="info-text text-right">
                        <b>Traffic</b>
                        <p>30000</p>
                    </div>
                    <div class="progress md-progress">
                        <div class="progress-bar cyan darken-3" role="progressbar" style="width: 30%" aria-valuenow="30"
                            aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </mdb-card-body>
                <!--/.Card content-->
            </mdb-card>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 mt-3">
            <mdb-card cascade="true" narrower="true">
                <div class="view view-cascade red darken-2 py-3 text-white view-size">
                    <div class="text-center">
                        <mdb-icon far icon="credit-card" size="2x"></mdb-icon>
                    </div>
                </div>
                <mdb-card-body cascade="true" class="text-left">
                    <!--Card content-->
                    <div class="info-text text-right">
                        <b>Orders</b>
                        <p>12000</p>
                    </div>
                    <div class="progress md-progress">
                        <div class="progress-bar red darken-2" role="progressbar" style="width: 30%" aria-valuenow="30"
                            aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </mdb-card-body>
                <!--/.Card content-->
            </mdb-card>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-12">
            <mdb-card cascade="true" narrower="true">
                <div class="view view-cascade cyan darken-4 py-3 text-white view-chart-size">
                    <div class="text-center">
                        Monthly Sales
                    </div>
                </div>
                <mdb-card-body>
                    <div class="row">
                        <div class="col-lg-5">
                            <!-- Form -->
                            <form class="text-left" style="color: #757575;">

                                <!-- Subject -->

                                <div class="row">

                                    <div class="col-md-12 mx-auto">
                                        <label>Timespan</label>
                                        <mdb-select [options]="optionsSelect" placeholder="Choose your option"
                                            (selected)="updateOnlyDatasets()">
                                        </mdb-select>
                                    </div>
                                    <div class="col-md-12 mx-auto mt-3">
                                        <label>From</label>
                                        <mdb-date-picker [inline]="true" name="mydate" [options]="myDatePickerOptions"
                                            [placeholder]="'Beggining Date'" required>
                                        </mdb-date-picker>
                                    </div>
                                    <div class="col-md-12 mx-auto mt-3">
                                        <label>To</label>
                                        <mdb-date-picker [inline]="true" name="mydate" [options]="myDatePickerOptions"
                                            [placeholder]="'Finish Date'" required>
                                        </mdb-date-picker>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-lg-7">
                            <div style="display: block">
                                <canvas mdbChart [chartType]="chartType" [datasets]="chartDatasets"
                                    [labels]="chartLabels" [colors]="chartColors" [options]="chartOptions"
                                    [legend]="true" (chartHover)="chartHovered($event)"
                                    (chartClick)="chartClicked($event)">
                                </canvas>
                            </div>
                        </div>
                    </div>
                </mdb-card-body>
            </mdb-card>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-12">
            <mdb-card cascade="true" narrower="true">
                <div class="view view-cascade green darken-1 py-3 text-white view-chart-size">
                    <div class="text-center">
                        Latest Orders
                    </div>
                </div>
                <mdb-card-body style="overflow-x: auto;">
                    <table mdbTable>
                        <thead>
                            <tr>
                                <th *ngFor="let head of headElements" scope="col"><b>{{head}}</b></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr mdbTableCol *ngFor="let el of elements">
                                <th scope="row">{{el.id}}</th>
                                <td>b{{el.heading1}}</td>
                                <td>{{el.heading2}}</td>
                                <td>{{el.heading3}}</td>
                                <td>{{el.heading4}}</td>
                                <td>{{el.heading5}}</td>
                                <td>{{el.heading6}}</td>
                                <td>{{el.heading7}}</td>
                                <td>{{el.heading8}}</td>
                                <td>{{el.heading9}}</td>
                            </tr>
                        </tbody>
                    </table>
                </mdb-card-body>
            </mdb-card>
        </div>
    </div>
    <div class="row">
        <div class="col-md-7 col-sm-12 mt-3">
            <mdb-card cascade="true" narrower="true">
                <div class="view view-cascade amber darken-2 py-3 text-white view-chart-size">
                    <div class="text-center">
                        Website Reviews
                    </div>
                </div>
                <mdb-card-body>
                    <ul class="list-unstyled">
                        <li class="media">
                            <img class="d-flex mr-3" src="https://mdbootstrap.com/img/Photos/Others/avatar-min1.jpg"
                                alt="Generic placeholder image">
                            <div class="media-body">
                                <h5 class="mt-0 mb-2 font-weight-bold">Anna Smith</h5>
                                <!--Review-->
                                <mdb-icon fas icon="star" class="blue-text"> </mdb-icon>
                                <mdb-icon fas icon="star" class="blue-text"> </mdb-icon>
                                <mdb-icon fas icon="star" class="blue-text"> </mdb-icon>
                                <mdb-icon fas icon="star" class="blue-text"> </mdb-icon>
                                <mdb-icon fas icon="star" class="blue-text"> </mdb-icon>
                                <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante
                                    sollicitudin. Cras purus
                                    odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac
                                    nisi vulputate fringilla.
                                    Donec lacinia congue felis in faucibus.</p>
                            </div>
                        </li>
                        <li class="media my-4">
                            <img class="d-flex mr-3" src="https://mdbootstrap.com/img/Photos/Others/avatar-min2.jpg"
                                alt="Generic placeholder image">
                            <div class="media-body">
                                <h5 class="mt-0 mb-2 font-weight-bold">Tom Brown</h5>
                                <!--Review-->
                                <mdb-icon fas icon="star" class="blue-text"> </mdb-icon>
                                <mdb-icon fas icon="star" class="blue-text"> </mdb-icon>
                                <mdb-icon fas icon="star" class="blue-text"> </mdb-icon>
                                <mdb-icon fas icon="star" class="blue-text"> </mdb-icon>
                                <mdb-icon fas icon="star" class="grey-text"> </mdb-icon>
                                <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante
                                    sollicitudin. Cras purus
                                    odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac
                                    nisi vulputate fringilla.
                                    Donec lacinia congue felis in faucibus.</p>
                            </div>
                        </li>
                    </ul>
                </mdb-card-body>
            </mdb-card>
        </div>
        <div class="col-md-5 col-sm-12 mt-3">
            <mdb-card cascade="true" narrower="true">
                <div class="view view-cascade red darken-2 py-3 text-white view-chart-size">
                    <div class="text-center">
                        Latest Feed
                    </div>
                </div>
                <mdb-card-body>
                    <ul>
                        <li class="row">
                            <div class="col text-left">
                                <mdb-icon fas icon="user-friends" size="lg" class="amber darken-1 circle text-white">
                                </mdb-icon>
                            </div>
                            <div class="col text-center" style="font-size:13px;">
                                User Registered
                            </div>
                            <div class="col grey-text text-right" style="font-size:13px;">
                                Just Now
                            </div>
                        </li>
                        <li class="mt-4 row">
                            <div class="col text-left">
                                <mdb-icon fas icon="server" size="lg" class="red darken-2 circle text-white"></mdb-icon>
                            </div>
                            <div class="col text-center" style="font-size:13px;">
                                Server #x is overloaded
                            </div>
                            <div class="col grey-text text-right" style="font-size:13px;">
                                2 Hours Ago
                            </div>
                        </li>
                        <li class="mt-4 row">
                            <div class="col text-left">
                                <mdb-icon fas icon="shopping-cart" size="lg" class="green darken-1 circle text-white">
                                </mdb-icon>
                            </div>
                            <div class="col text-center" style="font-size:13px;">
                                New order received
                            </div>
                            <div class="col grey-text text-right" style="font-size:13px;">
                                10 Hours Ago
                            </div>
                        </li>
                        <li class="mt-4 row">
                            <div class="col text-left">
                                <mdb-icon fas icon="edit" size="lg" class="cyan darken-3 circle text-white"></mdb-icon>
                            </div>
                            <div class="col text-center" style="font-size:13px;">
                                Ticket Submitted
                            </div>
                            <div class="col grey-text text-right" style="font-size:13px;">
                                Yesterday
                            </div>
                        </li>
                    </ul>
                </mdb-card-body>
            </mdb-card>
        </div>
    </div>
    <div class="row mt-3">

    </div>
</div>
